#cart_render{
    font-family: Open Sans,Roboto,Arial,Helvetica,sans-serif,SimSun;
    width: 100%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}
#cart-body{
    height: 480px;
    display: flex;
    justify-content: center;
    border: 1px solid black;
    background-color: #23232c;
}
.cart-main{
    margin-top: 20px;
    height: 400px;
}
.cart-header{
    border: 1px solid white;
    padding: 16px;
    color: white;
}
.cart-header h2{
    font-weight: 600;
    letter-spacing: 0.5px;
    color: white;
}
.cart-header input{
    margin-right: 5px;
}
.cart-header p{
    margin-top: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.cart-conteudo{
    margin-top: 20px;
   
    border: 1px solid white;
    padding: 16px;
    color: white;
}
.cart-conteudo-product{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.cart-conteudo-product img{
    width: 52px;
}
.cart-side{
    margin-left: 20px;
    margin-top: 20px;
    width: 320px;
    height: 320px;
    display: flex;
    flex-direction: column;
    color: white;
}
.cart-summary{
    padding: 10px;
    border: 1px solid white;
    text-align: center;
}
.cart-icon{
    padding: 16px;
    height: 320px;
    margin-top: 20px;
    border: 1px solid white;
    text-align: center;
}
.cart-icon-header{
    padding-bottom: 5px;
    border-bottom: 1px solid;
    margin-bottom: 10px;
    color: white;
}
.spam_total{
    color: black;
    margin-left: 2px;
}
/*Estilização dos ícones na parte do pagamento*/
.fa-user-shield{
    color: cyan;
    padding-right: 5px;
}
.fa-cc-mastercard{
    color: orange;
}

.fa-cc-visa{
    color: #1E90FF;
}

.fa-pix{
    color: #7FFFD4;
}