*{
    margin: 0;
    padding: 0;
}
nav a{
    color: white;
    text-decoration: none;
    transition: 0.3s;
}
.header-icon{
    font-size: 22px;
    margin-left: 12px;
}
nav a:hover{
    opacity: 0.7;
}
#logo-header{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
}
.logo-title{
    letter-spacing: 4px;
    font-size: 22px;
    /*text-decoration: underline white;*/
    font-weight: bolder;
    margin-left: 10px;
}
.hr_logo{
    margin-left: 8px;
    background-color: #e91e63;
    border-color: #e91e63;
}
.logo-img{
    padding: 2px;
    width: 68px;
    margin-right: 20px;
}

nav{
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #23232e;
    height: 10vh;
}
.header-list{
    list-style: none;
    display: flex;
}
nav li {
    letter-spacing: 3px;
    margin-left: 32px;
}
.search{
    background-color: #23232e;
    display: flex;
    padding: 2px;
    justify-content: center;
}
.search-text{
    background: none;
    border: none;
    width: 0;
    padding-left: 12px;
}
.search:hover .search-text{
    width: 100px;
    
}
.search:hover{
    border: 1px #bbbbbb solid;
    border-radius: 12px;
    background-color: #bbbbbb;
}

#header_button{
    width: 120px;
    height: 32px;
    letter-spacing: 3px;
    text-transform: uppercase;
    border-color: #23232e;
}
.mobile-menu{
    display: none;
    cursor: pointer;
}

.mobile-menu div {
    width: 32px;
    height: 2px;
    background-color: #fff;
    margin-bottom: 5px;
}
@media (max-width:999px){
    body {
        overflow-x: hidden;
    }
    .header-list{
        position: absolute;
        top: 8vh;
        right: 0;
        width: 250px;
        height: 92vh;
        background-color: #23232e;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;  
        /*transform: translateX(100%);*/
        z-index: 1;
    }
    #header_button{
        width: 0;
        display: none;
    }
    .header-list li{
        margin-left: 0;
        opacity: 1;
    }
    .slide {
        z-index: -1;
    }
    .manual_navigation{
        z-index: -1;
    }
    .mobile-menu{
        display: block;
    }
}
/*
.header-list.active{
    transform: translate(0);
}*/
/*Estilizaçao do banner imagens*/
#banner{
    /*position: absolute;*/
    border-top: 2px solid #23232e;
    border-bottom: 2px solid #23232e;
    display: flex;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    overflow: hidden;
    height: 400px ;
    width: 78%;
}

.banner_radius{
    width: 400%;
    height: 400px;
    display: flex;
}
.banner_radius input{
    display: none;
}
.slide{
    position: relative;
    width: 25%;
    transition: 2s;
}
.slide img{
    width: 1200px;
}
.manual_navigation{
    position: absolute;
    width: 1200px;
    margin-top: 360px;
    display: flex;
    justify-content: center;
}
.manual-btn{
    border: 4px solid white;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background-color: white;
}

#radio1:checked ~ .first{
    margin-left: 0%;
}
#radio2:checked ~ .first{
    margin-left: -25%;
}
#radio3:checked ~ .first{
    margin-left: -50%;
}
#radio4:checked ~ .first{
    margin-left: -75%;
}
#radio5:checked ~ .first{
    margin-left: -100%;
}
.navigation-auto div{
    border: 4px solid blueviolet;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.navigation-auto{
    position: absolute;
    width: 1200px;
    margin-top: 360px;
    display: flex;
    justify-content: center;
}

.navigation-auto div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background-color: whitesmoke;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
    background-color: whitesmoke;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
    background-color: whitesmoke;
}

#radio4:checked ~ .navigation-auto .auto-btn4{
    background-color: whitesmoke;
}

#radio5:checked ~ .navigation-auto .auto-btn5{
    background-color: whitesmoke;
}
/*estilização dos produtos em destaque*/
.container{
    font-family: sans-serif;
    width: 1200px;
    height: 360px;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content:space-around;
    flex-wrap: wrap;
    margin: 20px auto;
}
.container_ input{
    display: none;
}
.container_{
    width: 100%;
    height: 100%;
    max-width: 600px;
    max-height: 380px;
    transform-style: preserve-3d;
}
.container .product_emphasis{
    padding: 10px 0 0 0;
    width: 20%;
    height: 100%;
    margin: auto;
    border: 2px solid black;
    box-sizing: border-box;
    overflow: hidden;
    transition: .4s;
    text-align: center;
    cursor: pointer;
    box-shadow: 0 14px 28px #23232e,0 10px 20px #23232e;
    object-fit: cover;
    position: relative;
}
.container .product_emphasis:hover{
    padding: 3px;
    box-shadow: 0 3px 6px #23232e,0 3px 6px #23232c;
    transform: translate(0px,-8px);
}
.container .product_emphasis img{
    width: 120px;
    height: 120px;
    text-align: center;
    padding: 0;
}
.container .product_emphasis p{
    font-size: 14px;
    letter-spacing: 1px;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 22px;
}
.container .product_emphasis h6{
    font-size: 25px;
    letter-spacing: 1px;
    margin-bottom: 18px
}
.container .product_emphasis ul{
    list-style: none;
    display: flex;
    margin: 1px auto;
    align-items: center;
    justify-content: center;
    padding-top: 0;
}
.container .product_emphasis li{
    padding-top: 5px;
}
.container .product_emphasis li i{
    font-size: 20px;
    padding-left: 10px;
    transition: .4s;
}
.checked{
    color: #ff9f43;
}
.qtd_aval{
    font-size: 10px;
    letter-spacing: 0.5px;
    margin-top: 0;
    padding: 0px;
}
.btn{    
    background-color: #e91e63;
    margin-top: 5px;
    text-align: center;
    font-size: 18px;
    font-weight: bolder;
    color: #23232e;
    width: 98%;
    height: 32px;
    border: 0px;
    outline: none;
    cursor: pointer;
    text-transform: uppercase;
}
@media (max-width:999px){
    .container{
        width: 350px;
        flex-direction: column;
        height: 100%;
    }
    .container .product_emphasis{
        width: 270px;
        margin: 10px 0;
    }
    .mobile-footer{
        display: none;
    }
}
/*Carrinho de compra*/
#cart_shopping{
    position: fixed;
    top: 100px;
    right: 36px;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 4px;
}
.qtd_cart{
    color: whitesmoke;
}
#cart_shopping .qtd_cart{
    position: relative;
    top:25px;
    right: 12px;
    font-size: 16px;
    margin-left: 2px;
    border: 1px solid #23232c;
    z-index: 1;
    background-color: #23232c;
    padding: 3px;
}
.fa-cart-shopping{
    margin: auto auto;
    color: whitesmoke;
    font-size: 32px;
    border: 1px solid #23232c;
    background-color:#23232c;
    padding: 9px;
}
/*Estilização do mapa*/
#map{
    height: 310px;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#map h6{
    font-size: 22px;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin: 10px auto;}
.map{
    height: 90%;
    width: 80%;
    margin-bottom: 10px;
}
/*Estilização do footer*/
.footer{
    margin-top: 30px;
    background-color: #23232e;
    border: 1px solid #23232e;
    color: whitesmoke;
    padding: 70px 0;
    height: 340px;
    width: 100%;
}
.footer-row{
    display: flex;
    justify-content: space-around;
    align-items:flex-start;
    margin-top: 60px;
   
}

.colunm ul{
    list-style: none;
    margin: auto;
}

.title_colunm{
    letter-spacing: 1px;
    width: 180px;
    font-size: 19px;
    text-transform: capitalize;
    color: #ffffff;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;
}
.title_colunm::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.colunm ul li:not(:last-child){
    margin-bottom: 10px;
}
.colunm ul li a {
    text-decoration: none;
    font-size: 17px;
    color: #bbbbbb;
    font-weight: 300;
    text-transform: capitalize;
    display: block;
    transition: all 0.3s ease;
}

.colunm ul li a:hover{
    color:#ffffff; 
    padding-left: 10px;
}
/*Estilização das redes sociais na parte inferior direita*/
.fa-facebook{
    color: #1E90FF;
}

.fa-twitter{
    color: #87CEFA;
}

.fa-instagram{
    color: #FF69B4;
}

.fa-youtube{
    color:red;
}
/*Estilização dos ícones superiores */
.fa-location-dot{
    color: red;
}
.fa-magnifying-glass{
    color: #00BFFF;
}

.fa-user{
    color: cyan;
}

.fa-basket-shopping{
    color: yellow;
}


